<div class="backgroundimg flex" id="background">
    <div class="flex row mx-auto mt-3">
        {% if app.user %}
            <div class="alert alert-success welcome-message">
                Bienvenue, {{ app.user.firstName }} !
            </div>
        {% endif %}

        <!-- Bouton pour chercher une mosquée -->
        <div class="search-button-container mx-auto mt-3">
            <a href="{{ path('app_mosque') }}" class="btn btn-primary">Chercher une mosquée</a>
        </div>
        
        <div class="download flex mx-auto mt-3">
            <a href="#"><img class="logo-dl" src="/img/app-logo.png" alt="App Logo"></a>
            <a href="#">
                <p>Télécharger notre application téléphone pour une meilleure expérience.</p>
            </a>
        </div>
    </div>
</div>
