<div class="logo">
    <img src="/img/hidaya-logo.png" alt="logo of a mosque in a location logo">
</div>
<div class="nav">
    <ol><a href="">Accueil</a></ol>
    <ol><a href="">Profil</a></ol>
    <ol><a href="">Mosqué</a></ol>
    <ol><a href="">Suivi Prière</a></ol>
    <ol><a href="">Déconnexion</a></ol>
</div>