@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css");

body {
    background-color: rgba(0, 0, 0, 0.60);
}

h2 {
    margin-top: auto;
    color: white;
}
.navbar {
    background-color: rgb(29, 29, 53);
    color: white;
    font-size: x-large;
    justify-content: space-between;
    padding-right: 25px;
    margin-top: 0;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

.logo > img {
    width: 120px;
    border-radius: 10px;
    margin-left: 10px;
}

.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.backgroundimg {
    z-index: -1;
    background-image: url("/img/daymosque.webp");
    width: 1900px;
    height: 1050px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 1s ease-in-out;
}

.download {
    background-color: rgba(217, 217, 217, 0.70);
    width: 1200px;
    height: 150px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-dl {
    width: 150px;
    text-align: left;
    align-items: left;
    border-radius: 10px;
    margin-left: 20px;
}

p {
    font-size: xx-large;
    font-weight: 500;
    margin-left: 20px;
}

.download > a {
    color: black;
}

.searchbar {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.search-input {
    width: 300px; /* Ajustez cette largeur selon vos besoins */
    padding-right: 40px; /* Espace pour l'icône */
}

.btn-search {
    position: absolute;
    right: 10px; /* Espace entre le bord et l'icône */
    background: none;
    border: none;
    color: #000;
    padding: 0;
}

.btn-search:hover {
    color: #007bff;
    cursor: pointer;
}

/* Ajout d'une classe pour s'assurer que les images ne sont pas affectées */
img {
    transform: none !important;
    rotate: none !important;
    transition: none !important;
}

.example-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
    color: #000;
    text-align: center;
}
.prayer-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 8px 8px 9px 2px rgba(0, 0, 0, 0.542);
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
.prayer-table th, .prayer-table td {
    padding: 10px;
}
.prayer-table th {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
.prayer-table td {
    border-top: none;
    border-bottom: none;
}
.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox-container input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

.time-left {
    font-size: 2em;
    margin: 20px 0;
}

.legend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.legend-progress {
    background-color: rgb(235, 183, 0);
    padding: 3px;
}
.legend-missed {
    background-color: rgb(201, 0, 0);
    padding: 3px;
}
.legend-complete {
    background-color: rgb(0, 120, 74);
    padding: 3px;
}
.save-button {
    background-color: #00784A;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 25px;
}

.nav-arrows {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin: 10px;
}

.container-times {
    background-color: rgba(255, 255, 255, 0.800);
    text-align: center;
    width: 1200px;
    margin-bottom: 50px !important;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border: solid;
}

.arrow {
    color: #000;
    font-size: 50px;
}

.day-manager {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    border-radius: 25px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding: 15px;
    font-size: large;
}

.day {
    background-color: #00784A;
}
.main-content {
    position: relative;
    z-index: 1;
}
.date-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
    overflow: hidden; /* Pour garantir que le contenu reste dans les bordures arrondies */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px; /* Ajustez la largeur selon vos besoins */
    background-color: rgba(255, 255, 255, 0.8); /* Couleur de fond transparente */
}

.date-item {
    flex: 1; /* Permet de répartir les items de manière égale */
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.day {
    background-color: #00784ab9; /* Couleur de fond pour "Jour" */
    color: #fff; /* Couleur du texte pour "Jour" */
}

.month, .year {
    background-color: rgba(255, 255, 255, 0.5); /* Couleur de fond pour "Mois" et "Année" */
}
.month > a {
    color: #000;
}
.year > a {
    color: #000;
}

/* Bordure droite noire pour séparer les colonnes */
.date-item:not(:last-child) {
    border-right: 1px solid #000; /* Ligne séparatrice */
}

.profile-container {
    width: 300px; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto; /* Centre le conteneur */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fond blanc avec opacité */
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.text-center{
    text-align: center;
}
.w-100{
    width: 100px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #00784A; /* Couleur du bouton */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.btn-submit:hover {
    background-color: #005f36; /* Couleur de fond survolée */
}

.results-container {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-item {
    margin-bottom: 15px;
}

.result-item h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.result-item p {
    margin: 5px 0 0;
    color: #666;
}
#map {
    width: 1000px; /* S'étend à 100% de la largeur de son conteneur parent */
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}
.view {
    display: none;
}

.view.active {
    display: block;
}

.date-container a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.date-container a.active {
    font-weight: bold;
    color: #00784A; /* Couleur active */
}

.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.calendar-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
}

.calendar-table th,
.calendar-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.calendar-table th {
    background-color: #f2f2f2;
}

.day-cell {
    position: relative;
    height: 80px;
    cursor: pointer;
}

.day-cell span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.day-cell.incomplete {
    background-color: rgb(235, 183, 0);
}

.day-cell.missed {
    background-color: red;
}

.day-cell.complete {
    background-color: green;
}

.day-cell.empty {
    background-color: #f2f2f2;
    cursor: default;
}

.legend {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.legend-color {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
}

.incomplete {
    background-color: rgb(235, 183, 0);
}

.missed {
    background-color: red;
}

.complete {
    background-color: green;
}

.year-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.month-bar {
    width: 50px;
    height: 150px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 10px;
    position: relative;
}

.month-bar > span {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 5px;
}

.month-bar .incomplete {
    height: 30%;
    background-color: rgb(235, 183, 0);
}

.month-bar .missed {
    height: 20%;
    background-color: red;
}

.month-bar .complete {
    height: 50%;
    background-color: green;
}

.legend {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.legend-color {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 3px;
}

.incomplete {
    background-color: rgb(235, 183, 0);
}

.missed {
    background-color: red;
}

.complete {
    background-color: green;
}

.nav-arrows {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.arrow-left, .arrow-right {
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
}


.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 80px; /* Augmentation du padding pour plus d'espace intérieur */
    width: 450px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    overflow: hidden; 
}


.login-title {
    font-size: 24px;
    color: #00784A;
    margin-bottom: 100px; /* Augmentation de l'espace sous le titre */
}

.login-form .form-control {
    border-radius: 25px;
    border: 1px solid #aeaeae;
    padding: 12px; /* Augmentation du padding pour plus d'espace intérieur */
    margin-bottom: 40px; /* Augmentation de la marge pour espacer les champs */
}

.btn-primary {
    background-color: #00784A;
    border: none;
    border-radius: 25px;
    padding: 12px; /* Augmentation du padding pour un bouton plus grand */
    font-size: 16px;
    color: #fff;
    margin-top: 20px; /* Espace supplémentaire au-dessus du bouton */
    margin-bottom: 20px;
}

.login-footer {
    margin-top: 20px; /* Augmentation de l'espace au-dessus du texte de bas de page */
    font-size: 14px;
}

.login-footer a {
    color: #00784A;
    text-decoration: none;
    font-weight: bold;
}

.login-footer a:hover {
    text-decoration: underline;
}

.login-footer p {
    font-size: 14px;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 120, 74, 0.2); /* Couleur des cercles */
}

.circle.large {
    width: 120px;
    height: 120px;
}

.circle.medium {
    width: 70px;
    height: 70px;
}

.circle.small {
    width: 50px;
    height: 50px;
}
.circle.smallest {
    width: 30px;
    height: 30px;
}

/* Positionnement des cercles */
.circle.top-left {
    top: -20px; /* Position ajustée pour ne pas être dans l'angle */
    left: -40px; /* Position en dehors du conteneur */
}

.circle.bottom-left {
    bottom: 20px;
    left: 10px;
}

.circle.bottom-right {
    bottom: 60px;
    right: 30px;
}
.login-text {
    font-size: 14px; /* Ajuster la taille de la police pour "Vous n'avez pas de compte?" */
}

.login-link {
    font-size: 14px; /* Ajuster la taille de la police pour "Créer un nouveau compte" */
    display: block;
    margin-top: 5px; /* Ajouter un peu d'espace au-dessus du lien */
}
.circle.center {
    top: 40%; /* Ajustez cette valeur selon vos besoins pour positionner le cercle plus haut ou plus bas */
    right: -14px; /* Positionné à 40% de la gauche */
    width: 60px; /* Taille du cercle */
    height: 60px; /* Taille du cercle */
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.60);
}

.welcome-message {
    font-size: 1.2em; /* Taille de texte ajustée */
    max-width: 300px; /* Largeur limitée */
    max-height: 50px;
    padding: 10px;
    margin: 10px auto; /* Centré horizontalement */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); /* Fond blanc avec transparence */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
}
.search-button-container {
    text-align: center;
}

.search-button-container .btn-primary {
    background-color: #00784A;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.search-button-container .btn-primary:hover {
    background-color: #005f36;
}
/* Styling for search results */
.results-container {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
}

.result-item {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.result-item h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.result-item p {
    margin: 5px 0 0;
    color: #666;
}
