{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="backgroundimg" id="background">
    <div class="container">
        <h1>Mon Profil</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {# Inclut le fichier partiel du formulaire #}
        {% include 'Backend/user/_formProfile.html.twig' %}
    </div>
</div>
{% endblock %}
